In [ ]:
print("Hello World !")

Hello World !

In [ ]:
data_type: float = 3 - 2j

print(data_type.real)
print(data_type.imag)

print(data_type.conjugate())

# print(type(data_type))

3.0
-2.0
(3+2j)

In [ ]:
num_range: range = range(1, 10, 2) # range(start, stop, step)
print(type(num_range), num_range.stop)  # <class 'range'>

<class 'range'> 10

In [ ]:
set_type: set = {"Biryani", "Nihari", "Haleem", "Biryani"}
set_type.add("Karahi")
set_type.remove("Karahi")
print(set_type)

frozenset_type: frozenset = frozenset(set_type)
print(frozenset_type)

frozenset_type.remove("Nihari")

{'Haleem', 'Nihari', 'Biryani'}
frozenset({'Haleem', 'Nihari', 'Biryani'})

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
my_string: str = r'Hello\t,\n Worl\\d!'
print(my_string)

Hello\t,\n Worl\\d!

In [ ]:
join_char = "/".join(["Biryani", "Nihari", "Haleem"])
print(join_char)

Biryani/Nihari/Haleem

In [ ]:
age: int = 17
is_student: bool = True

# Check if age is greater than 18 AND is_student is True
if age >= 18 and is_student:
    print("You are eligible for a student discount.")
else:
    print("Better luck next time !")

Better luck next time !

In [ ]:
try:
  print("Before")

  num = "PIZZA"/0
except ZeroDivisionError:
  print("0 se divide nh hota")
except Exception as e:
  print("Type error koi number dalo bhai !")
else:
  print(num)
finally:
  print("har waqt chale ga !")

Before
Type error koi number dalo bhai !
har waqt chale ga !